<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login and Registration</title>
</head>
<body>
  <h1>Welcome!</h1>
  <div>
    <fieldset>
      <legend>Registration</legend>
      <form action="/register" method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td>First Name:</td>
            <td><input type="text" name="first_name"></td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td><input type="text" name="last_name"></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input type="text" name="email"></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="text" name="password"></td>
          </tr>
          <tr>
            <td>Confirm Password:</td>
            <td><input type="text" name="confirm_password"></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Register"></td>
          </tr>
        </table>
      </form>
    </fieldset>
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
      <ul>
    {% endif %}

  </div>
</body>
</html>
