<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login and Registration</title>
</head>
<body>
  <h1>Welcome!</h1>
  <div>
    <fieldset>
      <legend>Registration</legend>
      <form action="/register" method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td>First Name:</td>
            <td><input type="text" name="first_name"></td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td><input type="text" name="last_name"></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input type="text" name="email"></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
          </tr>
          <tr>
            <td>Confirm Password:</td>
            <td><input type="password" name="confirm_password"></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Register"></td>
          </tr>
        </table>
      </form>
    </fieldset>
    {{request.session.user}}
    {% for warning in request.session.warnings %}
    <p>{{warning}}</p>
    {% endfor %}
  </div>
  <div>
    <fieldset>
      <legend>Login</legend>
      <form action="/login" method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td>Email:</td>
            <td><input type="text" name="email"></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Login"></td>
          </tr>
        </table>
      </form>
    </fieldset>
    {{request.session.fail}}
  </div>
</body>
</html>
